persona: "nfdi4health"
ingress:
  dns:
dataverse:
  mem_max_metaspace_size: 4g
  s3:
    access_key:
    secret_key:
    bucket_name:
    endpoint_url:
  oidc:
    issuer:
    cliedid:
    clientsecret:
  resources:
    limits:
      memory: "4Gi"
    requests:
      memory: "1Gi"
  default_pid_provider: "permalink"
  pid_providers:
    - name: permalink
      type: "perma"
      authority:
      permalink_base_url:
      permalink_separator:
  site_url:
  installation_name:
  cors:
    origin:
  multiple_language_support:
    enabled: false
  exporters: []
postgres:
  volume_size: "32Gi"
  number_instances: 2
  logical_backup: true
solr:
  volume_size: "4Gi"
  resources:
    limits:
      memory: "4Gi"
    requests:
      memory: "1Gi"
images:
  backend: ghcr.io/nfdi4health/csh-ui/dataverse:6.8-fork-v1
  configbaker: gdcc/configbaker:6.8-noble
