apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-dataverse-svc
  labels:
    app.kubernetes.io/name: dataverse
    app.kubernetes.io/instance: dataverse-{{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: dataverse
    app.kubernetes.io/part-of: dataverse
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
    - name: "4848"
      port: 4848
      targetPort: 4848
    - name: "9009"
      port: 9009
      targetPort: 9009
    - name: "8686"
      port: 8686
      targetPort: 8686
  selector:
    app.kubernetes.io/name: dataverse
    app.kubernetes.io/instance: dataverse-{{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: dataverse
    app.kubernetes.io/part-of: dataverse
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-dataverse
  labels:
    app.kubernetes.io/name: dataverse
    app.kubernetes.io/instance: dataverse-{{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: dataverse
    app.kubernetes.io/part-of: dataverse
spec:
  serviceName:  {{ .Release.Name }}-dataverse
  selector:
    matchLabels:
      app.kubernetes.io/name: dataverse
      app.kubernetes.io/instance: dataverse-{{ .Release.Name }}
      app.kubernetes.io/version: {{ .Chart.AppVersion }}
      app.kubernetes.io/component: dataverse
      app.kubernetes.io/part-of: dataverse
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dataverse
        app.kubernetes.io/instance: dataverse-{{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        app.kubernetes.io/component: dataverse
        app.kubernetes.io/part-of: dataverse
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - image: {{ .Values.images.backend}}
          name: dataverse
          env:
            - name: DATAVERSE_SITEURL
              value: {{.Values.dataverse.site_url }}
            - name: CT_DATAVERSE_FQDN
              value: {{.Values.dataverse.site_url }}
            # hack for https://dataverse.zulipchat.com/#narrow/stream/375812-containers/topic/MPC.20profile.20problem
            - name: _CT_DATAVERSE_SITEURL
              value: {{.Values.dataverse.site_url }}
            - name: _CT_DATAVERSE_FQDN
              value: {{.Values.dataverse.site_url }}
            {{- if .Values.dataverse.mem_max_metaspace_size }}
            - name: MEM_MAX_METASPACE_SIZE
              value: {{.Values.dataverse.mem_max_metaspace_size }}
            {{- end }}
            - name: DATAVERSE_DB_HOST
              value: {{ .Release.Name }}-dataverse-postgres-pooler
            - name: DATAVERSE_DB_NAME
              value: dataverse
            - name: DATAVERSE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dataverse.{{ .Release.Name }}-dataverse-postgres.credentials.postgresql.acid.zalan.do
                  key: password
            - name: DATAVERSE_DB_USER
              valueFrom:
                secretKeyRef:
                  name: dataverse.{{ .Release.Name }}-dataverse-postgres.credentials.postgresql.acid.zalan.do
                  key: username
            - name: DATAVERSE_DB_IS_CONNECTION_VALIDATION_REQUIRED
              value: "1"
            - name: DATAVERSE_DB_VALIDATION_CLASSNAME
              value: "org.glassfish.api.jdbc.validation.PostgresConnectionValidation"
            - name: DATAVERSE_PID_PROVIDERS
              {{- $pidProviderNames := list -}}
              {{- range $pidProvider := .Values.dataverse.pid_providers -}}
                {{- $pidProviderNames = append $pidProviderNames $pidProvider.name -}}
              {{- end }}
              value: {{ quote (join "," $pidProviderNames) }}
            - name: DATAVERSE_PID_DEFAULT_PROVIDER
              value: {{ .Values.dataverse.default_pid_provider }}
          {{- range .Values.dataverse.pid_providers -}}
            {{- $pid_provider := . }}
            {{- range $key, $val := . }}
              {{- if eq $key "datacite_password" }}
            - name: DATAVERSE_PID_{{ upper $pid_provider.name }}_{{ upper $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $.Release.Name }}-dataverse-pid-provider-secret
                  key: {{ $pid_provider.name }}-datacite-password
              {{- else }}
            - name: DATAVERSE_PID_{{ upper $pid_provider.name }}_{{ upper $key }}
              value: {{ $val | quote }}
              {{- end }}
            {{- end -}}
          {{- end }}
            - name: DATAVERSE_DB_CONNECTION_VALIDATION_METHOD
              value: "custom-validation"
            # hack for https://dataverse.zulipchat.com/#narrow/stream/375812-containers/topic/MPC.20profile.20problem
            - name: _CT_DATAVERSE_SOLR_HOST
              value: {{ .Release.Name }}-dataverse-solr-svc
            - name: DATAVERSE_SOLR_HOST
              value: {{ .Release.Name }}-dataverse-solr-svc
            - name: DATAVERSE_SOLR_PORT
              value: "8983"
            - name: DATAVERSE_FEATURE_API_BEARER_AUTH
              value: "1"
            - name: dataverse_files_s3_access__key
              value: {{.Values.dataverse.s3.access_key}}
            - name: dataverse_files_s3_secret__key
              value:  {{.Values.dataverse.s3.secret_key}}
            - name: dataverse_files_s3_bucket__name
              value:  {{.Values.dataverse.s3.bucket_name}}
            - name: dataverse_files_s3_custom__endpoint__url
              value:  {{.Values.dataverse.s3.endpoint_url}}
            - name: dataverse_files_s3_type
              value: "s3"
            - name: dataverse_files_s3_label
              value: "s3"
            - name: dataverse_files_storage__driver__id
              value: "s3"
            # Add "Authorization" to list of headers allowed in CORS requests
            - name: DATAVERSE_CORS_HEADERS_ALLOW
              value: Accept, Content-Type, X-Dataverse-key, Range, Authorization
            # Set single allowed origin for CORS requests
            # Regarding multiple origins, see: https://github.com/IQSS/dataverse/pull/11745
            - name: DATAVERSE_CORS_ORIGIN
              value: {{ coalesce .Values.dataverse.cors.origin .Values.dataverse.site_url }}
{{- if .Values.dataverse.multipleLanguageSupport.enabled }}
            - name: JVM_ARGS
              value: -Ddataverse.lang.directory=/dv/lang
{{- end }}
          ports:
            - containerPort: 8080
            - containerPort: 4848
            - containerPort: 9009
            - containerPort: 8686
            {{- if .Values.dataverse.resources }}
          resources:
{{ toYaml .Values.dataverse.resources | indent 12 }}
          {{- end }}
          volumeMounts:
{{/*            https://guides.dataverse.org/en/latest/container/base-image.html*/}}
            - mountPath: /dv
              name: dev-dataverse-claim0
          readinessProbe:
            httpGet:
              path: /api/info/version
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/info/version
              port: 8080
            failureThreshold: 1
            periodSeconds: 30
          startupProbe:
            httpGet:
              path: /api/info/version
              port: 8080
            initialDelaySeconds: 60
            failureThreshold: 24
            periodSeconds: 10
      restartPolicy: Always
      initContainers:
        - name: check-db-ready
          image: postgres:9.6
          env:
            - name: DATAVERSE_DB_HOST
              value: {{ .Release.Name }}-dataverse-postgres-pooler
            - name: DATAVERSE_DB_NAME
              value: dataverse
            - name: DATAVERSE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dataverse.{{ .Release.Name }}-dataverse-postgres.credentials.postgresql.acid.zalan.do
                  key: password
            - name: DATAVERSE_DB_USER
              valueFrom:
                secretKeyRef:
                  name: dataverse.{{ .Release.Name }}-dataverse-postgres.credentials.postgresql.acid.zalan.do
                  key: username
          command: [ 'sh', '-c',
            'until pg_isready -h "${DATAVERSE_DB_HOST}";
            do echo waiting for database "${DATAVERSE_DB_HOST}" ; sleep 3; done;
            until PGPASSWORD="${DATAVERSE_DB_PASSWORD}" psql -h "${DATAVERSE_DB_HOST}" -d "${DATAVERSE_DB_NAME}" -U "${DATAVERSE_DB_USER}";
            do echo waiting for auth "${DATAVERSE_DB_HOST}" ; sleep 3; done; echo DB available!;
            ' ]
        - name: check-solr-ready
          image: giantswarm/tiny-tools
          env:
            - name: DATAVERSE_SOLR_HOST
              value: {{ .Release.Name }}-dataverse-solr-svc
            - name: DATAVERSE_SOLR_PORT
              value: "8983"
          command: [ 'sh', '-c',
            'until curl -sS -f "http://${DATAVERSE_SOLR_HOST}:${DATAVERSE_SOLR_PORT}/solr/collection1/admin/ping" 2>&1 | grep "status.:.OK";
            do echo waiting for solr; sleep 3; done;echo SOLR available!' ]
{{- if .Values.dataverse.multipleLanguageSupport.enabled }}
        - name: load-languages
          image: alpine/git
          command: ["sh", "-c"]
          args:
            - |
              git clone https://github.com/GlobalDataverseCommunityConsortium/dataverse-language-packs.git /tmp/dataverse-language-packs
              cd /tmp/dataverse-language-packs
              git checkout dataverse-v6.8
              mkdir /dv/lang
              {{- range .Values.dataverse.multipleLanguageSupport.languages }}
              cp {{ . }}/*.properties /dv/lang
              {{- end }}
              {{- if .Values.dataverse.multipleLanguageSupport.customCommands }}
              {{ .Values.dataverse.multipleLanguageSupport.customCommands }}
              {{- end }}
          volumeMounts:
            - mountPath: /dv
              name: dev-dataverse-claim0
{{- end }}
      volumes:
        - name: dev-dataverse-claim0
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-dataverse-claim0
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-dataverse-claim0
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-dataverse-protected-metadata-key
type: Opaque
data:
  mica: {{ randAlphaNum 20 | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-dataverse-pid-provider-secret
type: Opaque
data:
  {{- range .Values.dataverse.pid_providers }}
    {{- if hasKey . "datacite_password" }}
  {{ .name }}-datacite-password: {{ .datacite_password | b64enc | quote }}
    {{- end }}
  {{- end }}
