apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-dataverse-solr-config
  labels:
    app.kubernetes.io/name: solr
    app.kubernetes.io/instance: solr-{{ .Release.Name }}
    app.kubernetes.io/version: "9.5.0"
    app.kubernetes.io/component: solr
    app.kubernetes.io/part-of: dataverse
data:
  {{ (.Files.Glob (print "persona/" .Values.persona "/solr/*")).AsConfig | indent 2 }}