apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-dataverse-solr-svc
spec:
  ports:
    - port: 8983
      name: "8983"
      targetPort: 8983
  selector:
      app.kubernetes.io/name: solr
      app.kubernetes.io/instance: solr-{{ .Release.Name }}
      app.kubernetes.io/version: "9.5.0"
      app.kubernetes.io/component: solr
      app.kubernetes.io/part-of: dataverse
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-dataverse-solr-data
  labels:
    app.kubernetes.io/name: solr
    app.kubernetes.io/instance: solr-{{ .Release.Name }}
    app.kubernetes.io/version: "9.5.0"
    app.kubernetes.io/component: solr
    app.kubernetes.io/part-of: dataverse
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.solr.volume_size }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-dataverse-solr-template
  labels:
    app.kubernetes.io/name: solr
    app.kubernetes.io/instance: solr-{{ .Release.Name }}
    app.kubernetes.io/version: "9.5.0"
    app.kubernetes.io/component: solr
    app.kubernetes.io/part-of: dataverse
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Mi
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-dataverse-solr
  labels:
    app.kubernetes.io/name: solr
    app.kubernetes.io/instance: solr-{{ .Release.Name }}
    app.kubernetes.io/version: "9.5.0"
    app.kubernetes.io/component: solr
    app.kubernetes.io/part-of: dataverse
spec:
  serviceName: {{ .Release.Name }}-dataverse-solr
  selector:
    matchLabels:
      app.kubernetes.io/name: solr
      app.kubernetes.io/instance: solr-{{ .Release.Name }}
      app.kubernetes.io/version: "9.5.0"
      app.kubernetes.io/component: solr
      app.kubernetes.io/part-of: dataverse
  template:
    metadata:
      labels:
        app.kubernetes.io/name: solr
        app.kubernetes.io/instance: solr-{{ .Release.Name }}
        app.kubernetes.io/version: "9.5.0"
        app.kubernetes.io/component: solr
        app.kubernetes.io/part-of: dataverse
    spec:
      securityContext:
        fsGroup: 8983
      initContainers:
        - name: dataverse-solr-config
          image: {{ .Values.images.configbaker }}
          command:
            - /bin/bash
            - -c
            - |
              set -e
              mkdir -p /var/solr/data
              /scripts/fix-fs-perms.sh solr
              cp -a /template/* /solr-template
              if [ -f /schema/schema.xml ]; then cp /schema/schema.xml /solr-template/conf/schema.xml; fi
              if [ -f /schema/solrconfig.xml ]; then cp /schema/solrconfig.xml /solr-template/conf/solrconfig.xml; fi
          volumeMounts:
            - mountPath: /var/solr
              name: solr-data
            - mountPath: /solr-template
              name: solr-template
            - mountPath: /schema/
              name: cfgmap
      containers:
      - name: solr
        image: solr:9.8.0
        command: [ "/bin/bash", "-c" ]
        # Run Solr using configset in /solr-template
        # (see https://solr.apache.org/guide/solr/latest/configuration-guide/config-sets.html)
        # IMPORTANT: Solr doesn't track changes to the configset. It only copies it once on first start-up,
        # so any later changes to schema.xml and solrconfig.xml will have NO EFFECT unless manually copied into
        # /var/solr/data/collection1/conf/
        args: [ "precreate-core collection1 /solr-template; solr-foreground -Djetty.host=0.0.0.0" ]
        env:
          - name: SOLR_JETTY_HOST
            value: "0.0.0.0"
          - name: SOLR_OPTS
            value: "-Dsolr.jetty.request.header.size=65535"
{{ if .Values.solr.resources }}
        resources:
{{ toYaml .Values.solr.resources | indent 10 }}
{{ end }}
        ports:
          - containerPort: 8983
        volumeMounts:
          - mountPath: /var/solr
            name: solr-data
          - mountPath: /solr-template
            name: solr-template
      restartPolicy: Always
      volumes:
        - name: solr-data
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-dataverse-solr-data
        - name: solr-template
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-dataverse-solr-template
        - name: cfgmap
          configMap:
            name: {{ .Release.Name }}-dataverse-solr-config
            defaultMode: 0777