apiVersion: v1
kind: Secret
metadata:
  name: s3-nfdi4health-etl-data-credentials
  namespace: spark
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "" # INSERT HERE
  AWS_SECRET_ACCESS_KEY: "" # INSERT HERE
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: s3-nfdi4health-config
  namespace: spark
data:
  S3_ENDPOINT_URL: "https://s3.de-west-1.psmanaged.com"
  S3_ENDPOINT_REGION: "de-west-1"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: spark-role
  namespace: spark
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - configmaps
      - persistentvolumeclaims
    verbs:
      - create
      - delete
      - deletecollection
      - patch
      - watch
      - get
      - list
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: spark
  namespace: spark
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: spark-role-binding
  namespace: spark
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: spark-role
subjects:
  - kind: ServiceAccount
    name: spark
    namespace: spark